<div class="home us" ng-controller="externalCtrl">
    <div class="container boom">
        <!--<div class="row overflow">-->
        <!--<div class="col-md-12">-->
        <!--<img class="featured" src="assets/images/convencion-2014.jpg" alt="About ICCS"/>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row overflow">
            <div class="col-md-12 margin_bottom_0 text-center">
                <h1>Catering</h1>
            </div>
        </div>
        <!--<div class="row overflow">-->
            <!--<div class="col-md-12">-->
                <!--<div class="magic none">-->
                    <!--<p>-->
                        <!--ICCS´ experienced and dedicated Catering staff works everyday to amaze even the most exigent palate.-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--Passengers and Crew members can try a wide variety of regional drinks and assorted meals, perfectly chosen to suit any taste and budget.-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--We are focused on our customer’s needs, so give us the opportunity to exceed your expectations!-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="row overflow margin_bottom_0">
            <div class="col-md-12">
                <div class="tabs">
                    <div class="tabs-head">
                        <ul>
                            <li class="active">
                                <p>ICCS Catering – At all Mexican Airports</p>
                            </li>
                            <li>
                                <p>Baja Catering – Only at San Jose del Cabo Airport</p>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-body">
                        <ul>
                            <li>
                                <div class="row overflow">
                                    <div class="col-md-6">
                                        <div class="owl-carousel">
                                            <!--<div>-->
                                            <!--<img src="assets/images/services/baja0.jpg" alt="Baja Catering"/>-->
                                            <!--</div>-->
                                            <div>
                                                <img src="assets/images/services/newCatering/normal1.jpg" alt="ICCS Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/normal2.jpg" alt="ICCS Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/normal3.jpg" alt="ICCS Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/normal4.jpg" alt="ICCS Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/normal5.jpg" alt="ICCS Catering"/>
                                            </div>
                                        </div>
                                        <!--<div class="button all">-->
                                            <!--<p class="margin_0 text-center"><a style="padding: 20px 0; display: block" class="color-white" target="_blank" href=""></a></p>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rowSet">
                                            <div class="overflow rowAction">
                                                <p>ICCS´ dedicated Catering staff works every day to amaze the most exigent palate.</p><br/>
                                                <p>Try our wide variety of regional drinks and assorted meals!!</p>
                                                <br/>
                                                <div class="inline-block text-right">
                                                    <!--<a href="#" ng-click="external('http://issuu.com/norarod/docs/iccs_catering_menu/1')" class="button">ICCS Menu</a>-->
                                                    <button ng-click="external('http://issuu.com/norarod/docs/iccs_catering_menu/1')" class="button blue">ICCS Menu</button>
                                                </div>
                                                <div class="inline-block text-right">
                                                    <a href="#servicesRequestCatering" class="button">Submit Catering Request</a>
                                                </div>
                                                <div class="inline-block text-right">
                                                    <a href="assets/pdf/Menu-iccs-Catering.pdf" class="button"><i class="fa fa-download"></i> Download Menu</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="opacity">
                                <div class="row overflow">
                                    <div class="col-md-6">
                                        <div class="owl-carousel">
                                            <div>
                                                <img src="assets/images/services/newCatering/baja0.jpg" alt="Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/baja1.jpg" alt="Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/baja2.jpg" alt="Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/baja3.jpg" alt="Catering"/>
                                            </div>
                                            <div>
                                                <img src="assets/images/services/newCatering/baja4.jpg" alt="Catering"/>
                                            </div>
                                        </div>
                                        <!--<br/>-->
                                        <!--<div class="button all">-->
                                            <!--<p class="margin_0 text-center"><a style="padding: 20px 0; display: block" class="color-white" target="_blank" href=""></a></p>-->
                                        <!--</div>-->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rowSet">
                                            <div class="row overflow rowAction">

                                                <p>
                                                    Baja Catering at San Jose del Cabo
                                                </p>
                                                <ol class="text">
                                                    <li>
                                                        <p>
                                                            Delivering Gourmet Catering with  the highest quality standards in Executive Aviation
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            Have a quick and delicious treat at Baja Catering Snack Bar at San Jose del Cabo FBO
                                                        </p>
                                                    </li>
                                                </ol>
                                                <p>
                                                    &nbsp;
                                                    <br/>
                                                </p>
                                                <div class="inline-block text-right">
                                                    <!--<a class="button">Baja Catering Menu</a>-->
                                                    <button ng-click="external('http://issuu.com/norarod/docs/baja_catering_menu')" class="button blue">Baja Catering Menu</button>
                                                </div>
                                                <div class="inline-block text-right">
                                                    <a href="#servicesRequestCatering" class="button">Submit Catering Request</a>
                                                </div>
                                                <div class="inline-block text-right" style="margin-right: 10px">
                                                    <a href="assets/pdf/Baja-Catering-Menu.pdf" class="button"><i class="fa fa-download"></i> Download Menu</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row overflow">
            <div class="col-md-12">
                <div class="magic none">
                    <hr/>
                    <p>
                        Contact us to place your Catering Order:
                    </p>
                    <p>
                        <a href="mailto:iccsops@iccs.com.mx">iccsops@iccs.com.mx</a>
                    </p>
                    <p>
                        <a href="mailto:iccscatering@iccs.com.mx">iccscatering@iccs.com.mx</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="extra-help">
    <div class="container">
        <div class="rowSet">
            <div class="rowContact">
                <p class="text-center help">Let us help you</p>
                <div class="flightRequest2 text-center">
                    <!--<a href="#flightRequest"><i class="fa fa-plane"></i><span>Flight Request</span></a>-->
                    <p><i class="fa fa-plane"></i><span> Flight Request</span></p>
                    <div class="fq-show">
                        <p>
                            <a href="#FlightRequestExecutive">Executive</a> | <a href="#FlightRequestCargo">Cargo</a> | <a href="#FlightRequestAmbulance">Ambulance</a>
                        </p>
                    </div>
                </div>
                <ul class="margin_bottom_0">
                    <li>
                        <a href="mailto:iccsops@iccs.com.mx"><i class="fa fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="tel:+011525584211702"><i class="fa fa-phone"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/pages/ICCS-Mexico-Latin-America/234799073206003" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li>
                        <div class="twitter">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <div class="twitter-show">
                                <p><a href="https://twitter.com/ICCSMexico" target="_blank">Share</a></p> | <p><a target="_blank" href="http://twitter.com/home?status=I have a question, @ICCSMexico">Question</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>