<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>
    <meta charset="UTF-8">
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@latiosaxe">
    <meta name="twitter:title" content="ICCS">
    <meta name="twitter:description" content="ICCS at All Airports in Mexico and Main Airports at The Caribbean, Central & South America">
    <meta name="twitter:creator" content="@latiosaxe">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ICCS" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nimbus-soluciones.mx/iccs/" />
    <meta property="og:image" content="http://nimbus-soluciones.mx/iccs/assets/images/logo.jpg" />
    <meta property="og:description" content="ICCS at All Airports in Mexico and Main Airports at The Caribbean, Central & South America">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="assets/scripts/libs/datepicker/datepicker.css" rel="stylesheet">
    <link href="assets/scripts/libs/owl/assets/owl.carousel.css" rel="stylesheet">
    <link href="assets/scripts/libs/fancy/jquery.fancybox.css" rel="stylesheet">


    <script type="text/javascript" src="assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="assets/scripts/libs/owl/owl.carousel.min.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/sercheable/jquery.searchabledropdown-1.0.8.src.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/fancy/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/moment.min.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/combodate.js"></script>

    <!--<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>-->
    <!--<script type="text/javascript" src="assets/scripts/libs/captcha/angular-re-captcha.js"></script>-->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>
<div class="site">
    <header class="header">
        <div class="first">
            <div class="container relative">
                <div class="logo">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="ICCS"/>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#contact">Contact us</a>
                    </li>
                    <li class="social">
                        <a href="https://twitter.com/ICCSMexico" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social">
                        <a href="https://www.facebook.com/pages/ICCS-Mexico-Latin-America/234799073206003" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="second">
            <div class="container relative">
                <nav id="copyMe">
                    <ul>
                        <li>
                            <p>Flight Request <i class="fa fa-angle-down"></i></p>
                            <!--<a href="#flightRequest">Flight Request <i class="fa fa-angle-down"></i></a>-->
                            <ul class="submenu small">
                                <li><a href="#FlightRequestExecutive">Executive</a></li>
                                <li><a href="#FlightRequestCargo">Cargo</a></li>
                                <li><a href="#FlightRequestAmbulance">Ambulance</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>Services <i class="fa fa-angle-down"></i></p>
                            <ul class="submenu">
                                <li>
                                    <a href="#servicesGroundHandling">Ground Handling</a>
                                    <!--<ul class="finalmenu">-->
                                        <!--<li><a href="#servicesGroundHandling">Executive / Ambulance</a></li>-->
                                        <!--<li><a href="#servicesGroundHandling">Cargo</a></li>-->
                                    <!--</ul>-->
                                </li>

                                <li><a href="#servicesFuel">Fuel</a></li>
                                <li>
                                    <a href="#servicesPermits">Permits & Authorizations</a>
                                    <!--<ul class="finalmenu">-->
                                        <!--<li><a href="#servicesPermit135_121">Part 135/121</a></li>-->
                                        <!--<li><a href="#servicesPermit91">Part 91</a></li>-->
                                    <!--</ul>-->
                                </li>
                                <li><a href="#servicesCatering">Catering</a></li>
                                <li><a href="#servicesCharters">Charters</a></li>
                            </ul>
                        </li>
                        <li>
                            <p>Our Locations <i class="fa fa-angle-down"></i></p>
                            <ul class="submenu small">
                                <li><a href="#fbo">FBOs</a></li>
                                <li><a href="#ourlocations">Airports</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#about">About us</a>
                        </li>
                    </ul>
                    <div class="mobile">
                        <a href="#" id="mobile"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="fake_header">&nbsp;</div>

    <div class="section" ui-view="main" id="contentHeight"></div>


    <footer class="footer" id="footerFix">
        <div class="container">
            <div class="row overflow hidden">
                <div class="col-md-12 footer-block">
                    <h4>Sitemap</h4>
                    <div class="row overflow magicFooter margin_bottom_0">
                        <div class="col-md-3 footer-block">
                            <ul>
                                <li style="margin-top: 0">
                                    <p>Flight Request</p>
                                    <ul style="padding-left: 20px">
                                        <li><a href="#FlightRequestExecutive">Executive</a></li>
                                        <li><a href="#FlightRequestCargo">Cargo</a></li>
                                        <li><a href="#FlightRequestAmbulance">Ambulance</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 footer-block">
                            <ul>
                                <li>
                                    <p class="text-center">Services</p>
                                    <div class="row overflow margin_bottom_0">
                                        <div class="col-md-4">
                                            <ul>
                                                <li>
                                                    <a href="#servicesGroundHandling">Ground Handling</a>
                                                    <ul style="padding-left: 40px">
                                                        <li><a href="#servicesGroundHandling">Executive / Ambulance</a></li>
                                                        <li><a href="#servicesGroundHandling">Cargo</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#servicesCatering">Catering</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul>
                                                <li><a href="#servicesFuel">Fuel</a></li>
                                            </ul>
                                            <p></p>
                                            <ul>

                                                <li><a href="#servicesCharters">Charters</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul>
                                                <li>
                                                    <p>Permits & Authorizations</p>
                                                    <ul style="padding-left: 40px">
                                                        <li><a href="#servicesPermit135_121">Part 135/121</a></li>
                                                        <li><a href="#servicesPermit91">Part 91</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-block">
                            <ul>
                                <li>
                                    <p>Our Locations</p>
                                    <ul style="padding-left: 20px">
                                        <li><a href="#fbo">FBOs</a></li>
                                        <li><a href="#ourlocations">Airports</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="col-md-3 footer-block">-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<a href="#about">- About us</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="row overflow margin_bottom_0">
                <div class="col-md-12 footer-block">
                    <h4 style="font-size: 17px;">International Corporate & Cargo Services, S.A. de C.V.</h4>
                </div>
            </div>
            <div class="row overflow margin_bottom_0 footer-small">
                <div class="col-md-6">
                    <p>
                        Ave. Santa Fe 505- 20th floor Col. Cruz Manca Santa Fe C.P. 05349 Mexico City
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        Phone: 011 (52) 55 8421 1702 Fax: 011 (52) 55 8421 1732
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="text-right">
                        <strong>CERTIFIED ISO 9002</strong>
                        <a href="#privacity" class="right">Privacy & Terms</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="mobile-nav">
    <div class="content">
        <div id="pasteHere"></div>
    </div>
    <div id="mobile_close" class="mobile_close"></div>
</div>

</body>
</html>
